<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="../static/vendor/css/foundation.css">
    <link rel="stylesheet" href="../static/vendor/css/app.css">
  </head>
  <body>

    <div class="grid-container">
      <div id="test">
        Text in div test
      </div>
    </div>
    <script src="../static/vendor/js/vendor/jquery.js"></script>
    <script src="../static/vendor/js/vendor/what-input.js"></script>
    <script src="../static/vendor/js/vendor/foundation.min.js"></script>
    <script src="../static/vendor/js/app.js"></script>
    <script src="../static/common.js"></script>
  </body>
</html>
